  .qualification-details {
    .unit-details {
      font-size: 12px;
      line-height: 1.5;
      color: $grey-dark;
      text-align: center;
    }
    .qualification-title {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: $primary;
    }
  }