.order-details {
  height: 100%;
  overflow-y: auto;
  color: $black;

  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2, h3, h4, .label {
    color: #4A4A4A;
  }

  h3 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }

  .small {
    font-size: 0.8rem;
  }

  a {
    text-decoration: underline;
  }

  .order-content {
    color: $color-text-primary;
  }
}
