.editor-block-container-activity {

  .editor-block-body {
    justify-content: space-between;
    background-color: $primary;
    color: $grey-lighter;
    
    > div {
      flex-grow: 1;
    }
    
    .text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      padding-left: 30px;
      width: 50%;

      .description {
        max-width: 300px;
      }

      h2 {
        font-size: 30px;
        margin-bottom: 10px;
        max-width: 250px;
      }
    }

    .image {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 50%;

      img {
        height: auto;
        max-height: 400px;
        max-width: 100%;
        width: auto;
        min-width: 50%;
      }

      &.default {
        background-image: radial-gradient(circle at 50% 35%, rgba($black, 0), rgba($black, .5)), linear-gradient($primary, $primary);
        color: $grey-lighter;
        font-size: 50px;
        justify-content: center;
      }
    }
  }

  .editor-block-footer {
    
  }
}
