.pw-strength-progress {
  display: flex;
  padding: 0 10px;

  .pw-strength-progress-label {
    padding: 0 10px 0 0;
    white-space: nowrap;
    color: $black;
  }

  .progress {
    width: 100%;
    border-radius: 15px;
    height: 22px;    

    .progress-bar {      
      font-size: 14px;
      line-height: 1;
      padding: 5px;
      color: white;
      background: #d9534f;
      text-align: center;
      text-transform: capitalize;
      transition: all ease-out $speed-faster;

      &.pw-weak {
        background: #d9534f;
      }      
      &.pw-medium {
        background: #f0ad4e;
      }
      &.pw-strong {
        background: #5cb85c;
      }
      &.pw-none {
        background: white;
      }
    }
  }
}