
.member-list-view {

  padding-bottom: 25px;
  
  //NOTE - List view disabled for small screen sizes!!
  // At least for now
  .emptySeat-table {
    .emptySeat-name {
      width: 22%;
    }
    .emptySeat-registration-nr {
      width: 18%;
      border-left: none;
      text-align: center
    }
    .emptySeat-DOB {
      width: 60%;
    }
    .member-list-item {
      td {
        text-align: left;
      }
    }
  }

  @include touch {
    padding: 50px;
    text-align: center;
    position: relative;

    // table {
    //   display: none;
    // }    

    // &:after {
    //   position: absolute;
    //   top: 15px;
    //   left: 15px;
    //   right: 15px;
    //   bottom: 15px;
    //   background: darken($grey-lighter, 5%);
    //   content: '';
    //   display: block;
    // }
  }

  table {
    width: 100%;
    margin: 0;
    .heading {

      &-user-type {
        display: inline-block;
      }
      &-qualification {
        width: 25%;
      }
      &-sector {
        width: 13%;
      }
    }
  }

  .image.overlay {
    display: none;
  }

  thead{
    border-top: 1px solid $color-border-default;
    background-color: $color-background-default;
    tr {
      border-bottom: none;
      &:hover {
        background-color: $color-background-default !important;
      }
    }
    th{
      border-left: 1px solid $color-border-default;
      border-bottom: 1px solid $color-border-default;
      background-color: $color-background-default !important;
      padding: 15px;
      font-weight: normal;      
      &:first-of-type{
        border-left: 0;        
        // @include desktop(){
        //   padding-left: 40px;
        // }
      }
    }
  }
  tbody {
    tr td {
      // border-bottom: 1px solid $color-border-default !important;
      border-bottom: none;
    }
    tr:hover {
      background-color: $color-background-default !important;
    }
    td:first-of-type {
      width: 100%;
    }    
    @include desktop(){
      // td:first-of-type{
      //   padding-left: 40px;
      // }
    }
  }

  //Displayed only on desktop+
  //BUG overlaying text on really small desktop sizes
  .arrow {
    @include desktop(){
      height: 10px;
      width: 10px;
      border-bottom: 2px solid $black;
      float: right;
      transition: all $speed;
      margin-top: 4px;
      cursor: pointer;
    }
    &.asc{
      border-left: 2px solid $black;
      transform: rotate(-45deg);
      transition: transform $speed;
    }
    &.desc{
      border-left: 2px solid $black;
      transition: transform $speed;
      transform: rotate(135deg);
    }
    &.active{
      border-bottom: 4px solid $primary;
      border-left: 4px solid $primary;
    }
  }
}
