.profile-media-albums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 28px;
  row-gap: 28px;
  padding: 0 40px;
  .profile-media-album {
    padding-top: 100%;
    position: relative;
    &.profile-media-album__new {
      border: 1px solid #033156;
      border-radius: 2px;
      cursor: pointer;
      .profile-media-album__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Open Sans Light';
        font-weight: 300;
        font-size: 18px;
        color: #033156;
      }
    }
    .profile-media-album__body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .profile-media-album__body__bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .profile-media-album__body__info {
        min-height: 100px;
        padding: 5px 25px;
        background-color: rgba(74, 74, 74, 0.16);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .profile-media-album__body__info__title {
          font-family: 'Open Sans Light';
          font-weight: 300;
          font-size: 18px;
          color: #ffffff;
        }
        .profile-media-album__body__info__description {
          font-family: 'Open Sans Light';
          font-weight: 300;
          font-size: 12px;
          color: #ffffff;
          padding-top: 10px;
        }
      }
    }
    .profile-media-album__options, .profile-media-album__edit {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(151, 151, 151, 0.37);
      width: 35px;
      height: 35px;
      font-size: 24px;
      line-height: 1;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .profile-media-album__edit {
      right: 0;
      left: initial;
    }
  }
}

.profile-media-album__preferences {
  position: absolute;
  top: 0;
  left: 35px;
  background-color: #ffffff;
  width: 215px;
  padding: 0 15px;
  z-index: 20;
  .profile-media-album__preferences__title {
    padding: 10px;
    font-family: 'Open Sans Light';
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid #EDEDED;
  }
  .profile-media-album__preferences__items {
    padding-top: 5px;
    padding-bottom: 7px;
    .profile-media-album__preferences__item {
      padding: 5px 5px 5px 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: 'Open Sans Light';
      font-weight: 300;
      font-size: 14px;
      color: #3A3734;
      cursor: pointer;
      input {
        width: 18px;
        height: 18px;
        margin-right: 13px;
      }
    }
  }
  .profile-media-album__preferences__delete {
    padding: 8px 8px 10px 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans Semibold';
    font-weight: 600;
    font-size: 14px;
    color: #3A3734;
    border-top: 1px solid #EDEDED;
    cursor: pointer;
    i {
      margin-right: 12px;
      font-size: 28px;
      line-height: 28px;
      color: #000000;
    }
  }
}
