.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .container {
    width: 800px;
  }

  p {
    color: rgb(68, 68, 68);
    line-height: normal;
  }

  .p1 {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Open Sans Bold';
    color: #000000;
  }

  ul {
    padding-left: 20px;
    li {
      list-style: disc;
      color: rgb(68, 68, 68);
    }
  }
  .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    span {
      padding-right: 10px;
    }
  }
}