/**
 * Community card item component
 */
 .community-card-item {
    $padding: 20px;
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    // margin: 0 5px;

    hr {
      margin: 10px 0;
      background-color: #f3f3f3;
    }

  .hover-capture {
    perspective: 1000px;
    height: 100%;
    box-shadow: $box-shadow;
    border-radius: $cards-border-radius;

    .ui-component-flipper-container {      
      .toggle {
        top: 10px;
        right: 5px;
        padding-top: 0;
        line-height: 1.1;
        font-size: 12px;
        svg {
          width: 15px;
          height: 15px;
        }
      }

      &.flipped {
        .toggle {
          color: $color-text-primary;

          svg {            
            .flip-g {
              fill: $color-text-primary;
            }
          }
        }
      } 
    }

    .is-secondary {
      background-color: rgba(186, 215, 57, 1.0);
      color: white;
    }

    .front, .back {
      border-radius: $cards-border-radius;
    }

    .front-view {
      position: relative;
      &:hover {
        .sub-text {
          padding-bottom: 5px !important;
        }
        .approved-percentage {
          display: none;
        }
        .approved-percentage__hover {
          display: block;
        }
      }
      .approved-percentage__hover {
        display: none;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 11px;
      }
      .checkbox-view {
        left: 10px;
        top: 0;
        position: absolute;
        z-index: 999;
      }
      > .inner {
        position: relative;
        padding-bottom: 35px;
        .user-role {
          padding-top: 10px;
          position: absolute;
          z-index: 1;
          // left: 40px;
          width: 100%;

          button {
            padding: 10px;
            line-height: 1px;
            height: 27px;
            color: white;
            font-size: 14px;
            border: none;
          }          
        }
        .no-image {
          position: absolute;
          top: 0;
          left: 0;          
          width: 100%;
          height: 337px;
          padding-top: 70px;
          background-color: rgba(213, 234, 228, 1.0);
          text-align: center;

          .icon-profile-no-img {
            fill: $primary;
          }

          .is-centre {
            display: flex;
            justify-content: center;
            padding: 50px;
          }
          &.is-third {
            background-color: rgba(213, 234, 228, 1.0);
          }
        }
        .cover-photo {
          height: 337px;
          background-repeat: no-repeat;
          background-position: center center;
          position: relative;
          
          // background-image: url('../images/icon_male_profile.svg');

          &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            content: '';
          }
          &.photo-exists {
            background-size: cover;
            background-position: center center;
          }
          &.photo-exists:after {
            background-image: linear-gradient(to bottom, rgba($grey-light, 0.0), $primary);
          }
        } // ===== cover-photo =====
        .description {
          position: absolute;
          background: $white;
          bottom: 0;
          padding: $padding;
          padding-top: 40px;
          padding-bottom: 0px;
          width: 100%;
          color: $primary;

          .status:before {
            background: greenyellow;
          }

          .user-badge {
            background: $white;
            top: 0;
            left: $padding/2;
            transform: translateY(-50%);
            border-radius:100px;
            position: absolute;
            padding: 3px;

            .image {
              width: 74%;
              height: 74%;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              background-size: cover;
              border-radius: 100px;
            }
            .no-photo {
              position: absolute;
              left: 15px;
              top: 12px;
              width: 36px;
              height: 36px;

              svg {
                width: 36px;
                height: 36px;
              }
            }
          } // user-badge

          .status {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 15px;
            font-size: 12px;
            color: $grey;

            &:before {
              content: '';
              width: 8px;
              height: 8px;
              border-radius: 100px;
              margin-right: 7.5px;
              background: $danger;
              display: inline-block;
              vertical-align: middle;
              position: relative;
              top: -1px;
            }

            &.online {
              &:before {
                background: $success;
              }
            }
          } // status

          .title {
            font-family: $family-primary-Semibold;
            font-size: 22px;
            color: $black;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &.centre-title {
              font-size: 14px;
              padding-bottom: 5px;
            }
          }

          .screen-name-link {
            display: flex;
            justify-content: space-between;
            .link {
              color: #128eff;
              cursor: pointer;
              font-size: 15px;
              padding-left: 5px;
            }
            &.screen-name-link-centre {
              display: block;
            }
          }

          .sub-title {
            font-family: $family-primary-Semibold;
            font-size: 11px;
            color: $black;
            padding: 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .sub-text {
            padding-bottom: 40px;
          }

          .approved-percentage {
            color: #043956;
            margin-top: 5px;
            font-weight: 600;
          }

          .group-title {
            font-size: 25px;
            font-family: $family-primary-Semibold;
            color: $black;
          }

          .sub-title-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          }
          .learner-count {
            font-family: $family-primary-Semibold;
            font-size: 13px;
            color: $grey-dark;
          }
        }// ===== description =====
      }

      .description-footer {
        padding: $padding;
        padding-top: 0;
        background: $white;
        .small-print {
          font-size: 12px;
        }
      } // ===== description-footer =====      
    } // ===== front =====

    .back-view {      
      height: 100%;
      padding: 8px 15px;
      line-height: 1.1;

      .screen-name {
        width: 100%;
        font-family: $family-primary-Semibold;
        font-size: 25px;
        text-align: center;
        color: $black;
        padding-top: 25px;        
      }
      .join-date {
        font-family: "Open Sans Light Italic";
        text-align: center;
        font-size: 10px;
        font-style: italic;
        margin-bottom: 6px;
      }
      .role-view {
        border-radius: 100px;
        padding: 6px 12px;
        width: auto;
        color: white;        
        background-color: $primary;
        font-size: 14px;
      }
      .is-secondary {
        background-color: rgba(186, 215, 57, 1.0);
        color: white;
      }
      .user-name {
        width: 100%;
        font-family: $family-primary-Semibold;
        font-size: 25px;
        line-height: 1;
        text-align: center;
        color: $black;
        padding-top: 20px;        
      }
      .sub-title {
        font-family: "Open Sans";
        font-size: 13px;
        color: black;
      }
      .sub-content {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .sub-text {
        font-family: "Open Sans";
        font-size: 12px;
        color: $grey-dark;
      }
      // Group card
      .tutor-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .tutor-name {
        width: 100%;
        font-family: $family-secondary;
        font-size: 21px;
        text-align: center;
        color: #4A4A4A;
      }
      // Tutor card
      .view-centre {
        font-family: "Open Sans";
        font-size: 12px;
        color: rgba(0, 0, 255, 0.8);
        span {
          cursor: pointer;
        }
      }

      .photo-view {
        padding: 20px 0 5px 0;
        color: $color-text-primary;
        font-size: 10px;
        .photo-view-controls {
          margin-bottom: 8px;
          font-size: 14px;
        }
        .photos {
          display: flex;
          min-height: 85px;          
          align-items: center;
          justify-content: center;
          font-size: 12px;
          color: $grey;

          .main-photo {
            width: 160px;
            height: 86px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;            
          }
          .secondary-photo {
            width: 70px;
            height: 42px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;            
            margin-left: 2px;

            &:nth-of-type(1) {
              margin-bottom: 2px;
            }
          }
        }        
      }     

      .achievement {
        padding: 5px 0;
        background-color: lighten($grey-lighter, 10%);
        font-size: 10px;
        color: $color-text-primary;

        .achievement-content {
          display: flex;
          min-height: 50px;
          align-items: center;
          padding: 5px 10px;

          .badge {
            min-width: 40px;
            width: 40px;
            height: 40px;            
            margin-right: 10px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .content {
            font-size: 12px;
            width: calc(100% - 50px);
            padding-top: 2px;
            line-height: 1.3;
            color: $black;

            .achievement-content-title {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;              
            }
          }

        }
      }
    }
  } // ===== hover-capture =====

  .is-grouped .control {
    width: 50%;
  }
  .control button,
  .actions > button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    &.is-medium {
      font-size: 14px;
      height: 35px;
      padding-left: 5px;
      padding-right: 5px;
      line-height: 20px;
    }
  }
  .actions {
    .inner {
      padding-bottom: 15px;
    }
    // border-bottom: 2px solid $color-border-default;
    transition: max-height ease-out $speed-faster, opacity linear .1s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    .send-group-message {
      width: 100%;
    }
    .assess-workbooks-button {
      width: 100%;
    }
    .footer-buttons {
      display: flex;
      justify-content: space-between;

      svg {
        width: 20px; height: 20px;
      }

      a {
        width: 100%;
        text-align: center;
        p {
          line-height: 1;
          padding: 0;
          font-size: 10px;
          color: black;
        }
      }
      .flex-1 {
        flex: 2;
      }
      .flex-2 {
        flex: 3;
      }
    }
    .controls {
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .control-icon {
      .icon-remove {
        fill: #007AFF;
      }
    }
  }
  .progress-number {
    position: relative;
    top: 10px;
    left: 12px;
  }
  .is-desktop & {
    .hover-capture:hover {
      .actions {
        opacity: 1;
        max-height: 190px;
        transition: max-height ease-out $speed-faster, opacity linear $speed-faster .3s;
      }

      .front .user-type {
        transform: translateX(-40px);
      }

      .flip-toggle {
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  .is-mobile & {
    .hover-capture.touched {
      .actions {
        max-height: 190px;
        opacity: 1;
        transition: max-height ease-out $speed-faster, opacity linear $speed-faster .3s;
      }
      .front .user-type {
        transform: translateX(-40px);
      }
      .flip-toggle {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

.community-card-item__eqa {
  .hover-capture {
    .front-view > .inner {
      .description {
        .title {
          font-size: 17px;
          font-weight: 800;
          margin-bottom: 2px;
        }
      }
    }
  }
}


.centre-card-actions-learners-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .centre-card-actions-learners {
    color: black;
    font-size: 12px;
  }
  .centre-link {
    color: #128eff;
    cursor: pointer;
    font-size: 15px;
    padding-left: 5px;
    text-decoration: underline;
  }
}
