.export-manager-header {
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(151, 151, 151, 0.23);
    margin-right: 14px;
    border: none;
    color: #033156;
    font-size: 32px;
    line-height: 1;
    cursor: pointer;
  }
  .export-manager-header__info {
    h2 {
      color: #033156;
      font-size: 48px;
      font-family: 'Open Sans Semibold';
    }
    .export-manager-header__description {
      color: #127FA1;
      font-family: 'Open Sans Light';
      font-size: 18px;
      padding-left: 3px;
    }
  }
}

.community-export-manager {
  .community-export-manager__body {
    display: grid;
    grid-template-columns: 1fr 300px;
    padding-bottom: 50px;
    padding-right: 15px;
  }
  .community-export-manager__blocks {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    .community-export-manager__blocks__block {
      width: 300px;
      height: 300px;
      margin-right: 65px;
      border: 1px solid #4A4A4A;
      transition: box-shadow 0.3s ease;
      box-shadow: 0 0 0 0 black, 0px 30px 16px -19px rgba(0,0,0,0.33);
      cursor: pointer;
      border-radius: 2px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 15px;
      &:hover {
        border: 1px solid #667887;
        box-shadow: 0 0 3px 0 black, 0px 30px 16px -19px rgba(0,0,0,0.33);
      }
      .community-export-manager__blocks__block__img {
        width: 230px;
        min-height: 230px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
      span {
        color: #127FA1;
        font-size: 22px;
      }
    }
  }
  .community-export-manager__user {
    min-height: 790px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    padding-top: 110px;
    background-color: white;
    text-align: center;
    .community-export-manager__user__avatar {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: #d5eae4;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 52px;
    }
    .community-export-manager__text {
      color: #033156;
      font-size: 14px;
      font-family: 'Open Sans Semibold';
      margin-bottom: 8px;
      &.community-export-manager__text__title {
        margin-top: 25px;
      }
    }
    button {
      background-color: #003057;
      border-radius: 3px;
      margin-bottom: 24px;
      margin-top: 58px;
      padding: 13px 24px;
      color: white;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }
    .community-export-manager__file-type {
      color: #4A4A4A;
      font-family: 'Open Sans Light';
      font-size: 15px;
      span {
        color: #59ADFF;
      }
    }
  }
  .community-export-manager__created-result {
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 790px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .community-export-manager__created-result__avatar {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin-bottom: 52px;
      background-color: #cbcbcb;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .community-export-manager__created-result__created-by {
      color: #033156;
      font-size: 14px;
      font-family: 'Open Sans Semibold';
      font-weight: 600;
      margin-bottom: 8px;
    }
    .community-export-manager__created-result__created-name {
      text-transform: uppercase;
      color: #033156;
      font-size: 14px;
      font-family: 'Open Sans Semibold';
      font-weight: 600;
      margin-bottom: 25px;
    }
    .community-export-manager__created-result__date-created {
      color: #033156;
      font-size: 14px;
      font-family: 'Open Sans Semibold';
      font-weight: 600;
      margin-bottom: 9px;
    }
    .community-export-manager__created-result__date {
      color: #033156;
      font-size: 14px;
      font-family: 'Open Sans Semibold';
      font-weight: 600;
    }
    .community-export-manager__created-result__download {
      margin-top: 58px;
      background-color: #003057;
      width: 116px;
      height: 44px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans Semibold';
      font-size: 14px;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
    }
    .community-export-manager__created-result__csv-icon {
      margin-top: 35px;
    }
  }
}

.community-export-manager-new {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .community-export-manager-new__sidebar {
    height: 790px;
    width: 300px;
    background-color: rgba(151, 151, 151, 0.23);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .community-export-manager-new__sidebar__logo {
      background-color: white;
      text-align: center;
      padding: 30px 0 16px 0;
      width: 100%;
      img {
        width: 190px;
      }
    }
    .community-export-manager-new__sidebar__fields {
      padding: 32px;
      width: 100%;
      flex: 1;
      .community-export-manager-new__sidebar__fields__search {
        padding-left: 60px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 16px;
        background-color: #ffffff;
        position: relative;
        i {
          position: absolute;
          left: 10px;
          top: 45%;
          transform: translateY(-50%);
          color: rgba(0, 0, 0, 0.5);
        }
        input {
          border: none;
          width: 100%;
          font-family: 'Open Sans Light';
          font-size: 16px;
        }
      }
      .community-export-manager-new__sidebar__fields__checkbox {
        margin-top: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        input {
          height: 25px;
          width: 25px;
          margin-right: 12px;
        }
      }
      .community-export-manager-new__sidebar__fields__select {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 25px;
        div {
          color: #4A4A4A;
          font-family: 'Open Sans Light';
          font-size: 16px;
          width: 65px;
        }
        .dropdown {
          width: 175px;
          button {
            color: #000;
            font-family: 'Open Sans Light';
            font-size: 14px;
            flex: 1;
            height: 34px;
            border: 1px solid #D1D1D1;
            width: 175px;
            max-width: 175px;
            padding-left: 10px;
            padding-right: 15px;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            span {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .dropdown-content {
            width: 175px;
            max-height: 205px;
            overflow-y: auto;
            .dropdown-item {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              padding-right: 1rem;
              &--none {
                font-style: italic;
              }
              &:hover {
                background-color: #003057;
                color: white;
              }
            }
          }
        }
      }
    }
    .community-export-manager-new__sidebar__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 18px;
      padding: 0 32px;
      margin-top: 140px;
      width: 100%;
      button {
        padding: 12px;
        border-radius: 3px;
        font-family: 'Open Sans Semibold';
        font-size: 14px;
        cursor: pointer;
      }
      .community-export-manager-new__sidebar__buttons__cancel {
        color: white;
        background-color: #003057;
        border: 1px solid #003057;
      }
      .community-export-manager-new__sidebar__buttons__create {
        color: #003057;
        background-color: white;
        border: 1px solid #003057;
      }
    }
    .community-export-manager-new__main__reports__generate {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 32px;
      margin-top: 33px;
      width: 100%;
      padding-bottom: 100px;
      button {
        padding: 12px 8px;
        background-color: #417505;
        color: white;
        font-size: 14px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
      }
    }
  }
  .community-export-manager-new__main {
    width: 100%;
    .community-export-manager-new__main__path {
      height: 120px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 26px;
      font-family: 'Open Sans Semibold';
      font-size: 22px;
      color: #003057;
      padding-top: 20px;
    }
    .community-export-manager-new__main__activities {
      padding: 0 31px;
      .community-export-manager-new__main__activity {
        border: 1px solid #979797;
        border-radius: 4px;
        padding: 16px 13px;
        padding-right: 20px;
        background-color: white;
        box-shadow: 0 25px 16px -19px rgba(0, 0, 0, 0.15);
        margin-bottom: 30px;
        .community-export-manager-new__main__activity__title {
          font-family: 'Open Sans Semibold';
          font-size: 18px;
          color: #003057;
          min-width: 517px;
          margin-bottom: 6px;
        }
        .community-export-manager-new__main__activity__unit {
          font-family: 'Open Sans Light';
          font-size: 16px;
          color: #505759;
          margin-bottom: 6px;
        }
        .community-export-manager-new__main__activity__info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: 'Open Sans Light';
          font-size: 16px;
          .community-export-manager-new__main__activity__info__assigned {
            
            color: #4A4A4A;
            span {
              &:last-child {
                margin-left: 32px;
                color: #003057;
              }
            }
          }
          .community-export-manager-new__main__activity__info__select {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            color: #4A90E2;
            cursor: pointer;
            .community-export-manager-new__main__activity__info__select__icon {
              width: 27px;
              height: 27px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #4A90E2;
              &--selected {
                border: 1px solid #7ED321;
                color: #7ED321;
              }
            }
            i {
              font-size: 17px;
            }
            span {
              margin-right: 7px;
            }
          }
        }
      }
    }
    .community-export-manager-new__main__reports {
      padding: 0 10px;
      width: 100%;
      .community-export-manager-new__main__report {
        width: 100%;
        border-left: 6px solid #D0021B;
        padding: 30px 25px 18px 13px;
        background-color: white;
        box-shadow: 1px 4px 7px 0 #D8D8D8;
        position: relative;
        .community-export-manager-new__main__report__tags {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 15px;
          margin-bottom: 15px;
          flex-wrap: wrap;
          .community-export-manager-new__main__report__tag {
            margin-right: 21px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;
            padding: 9px 11px;
            background-color: #003057;
            border-radius: 2px;
            margin-bottom: 15px;
            span {
              flex: 1;
              margin-right: 10px;
              font-size: 12px;
            }
            div {
              font-size: 16px;
              line-height: 12px;
              cursor: pointer;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .community-export-manager-new__main__report__select-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 36px;
      }
      .community-export-manager-new__main__report__select {
        flex: 1;
        padding-left: 15px;
        .community-export-manager-new__main__report__select__title {
          font-family: 'Open Sans Light';
          font-size: 15px;
          color: black;
          padding-left: 25px;
          margin-bottom: 6px;
        }
        .dropdown {
          width: 400px;
          button {
            color: #4A4A4A;
            font-family: 'Open Sans Semibold';
            font-size: 18px;
            flex: 1;
            height: 50px;
            border: 1px solid #979797;
            width: 400px;
            text-align: left;
          }
          .dropdown-content {
            width: 400px;
            .dropdown-item {
              &--none {
                font-style: italic;
              }
              &:hover {
                background-color: #003057;
                color: white;
              }
            }
          }
        }
        .community-export-manager-new__sidebar__fields__select__date {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: calc(100% - 20px);
          column-gap: 7px;
          position: absolute;
          background-color: #D8D8D8;
          padding-top: 5px;
          padding-bottom: 55px;
          .react-calendar {
            width: 100%;
            background: transparent;
            border: none;
            .react-calendar__navigation {
              background-color: #003057;
              button {
                color: white;
                font-size: 18px;
                font-weight: 'Open Sans Semibold';
                &:not(.react-calendar__navigation__label) {
                  font-size: 24px;
                }
                &:hover {
                  background-color: #04477d;
                }
              }
            }
            .react-calendar__month-view__days {
              button {
                &:hover {
                  background-color: #D4EAE4;
                }
              }
            }
            .react-calendar__month-view {
              padding: 0 24px;
              .react-calendar__month-view__days {
                button {
                  height: 40px;
                  width: 40px;
                  max-height: 40px!important;
                  max-width: 40px!important;
                  border-radius: 50%;
                  color: #3A3734;
                  font-family: 'Open Sans Light';
                  font-size: 14px;
                  &.react-calendar__tile--active {
                    background-color: #D4EAE4;
                    color: #3A3734;
                  }
                }
              }
            }
          }
          .community-export-manager-new__sidebar__fields__select__date__result {
            margin-top: 30px;
            text-align: center;
            font-family: 'Open Sans Light';
            font-size: 18px;
            color: #4A4A4A;
            span {
              font-family: 'Open Sans Semibold';
              color: #04477d;
            }
          }
        }
      }
    }
  }
}


.community-new-report-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .community-new-report-modal__body {
    width: 430px;
    height: 217px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    .community-new-report-modal__body__info {
      padding: 30px 67px 4px 48px;
      font-size: 22px;
      font-family: 'Open Sans Light';
      color: #000000;
      text-align: center;
      span {
        font-family: 'Open Sans Semibold';
      }
    }
    .community-new-report-modal__body__footer {
      height: 48px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 34px;
      border-top: 1px solid rgba(151, 151, 151, 0.5);
      font-size: 16px;
      font-family: 'Open Sans Light';
      color: #979797;
      cursor: pointer;
    }
  }
}

.community-export-manager-archive {
  width: 100%;
  .community-export-manager-archive__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 15px;
    .community-export-manager-archive__header__path {
      margin-left: 90px;
      font-family: 'Open Sans Semibold';
      font-size: 22px;
      color: #003057;
    }
  }
  .community-export-manager-archive__table-container {
    display: grid;
    grid-template-columns: 1fr 355px;
    column-gap: 15px;
    padding-bottom: 100px;
    .community-export-manager-archive__table {
      table {
        width: 100%;
        thead {
          background-color: rgba(70, 154, 181, 0.12);
          td {
            padding-left: 10px;
            &:last-child {
              .community-export-manager-archive__table__thead__item {
                border-right: none;
              }
            }
            .community-export-manager-archive__table__thead__item {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-family: 'Open Sans Semibold';
              font-size: 15px;
              color: #505759;
              height: 56px;
              padding-right: 10px;
              border-right: 1px solid rgba(151, 151, 151, 0.4);
              i {
                font-size: 22px;
              }
            }
          }
        }
        tbody {
          tr {
            border-left: 4px solid transparent;
            transition: border-left 0.2s;
            position: relative;
            td {
              cursor: pointer;
              padding: 17px 0;
              div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 14px;
                min-height: 40px;
                border-right: 1px solid rgba(151, 151, 151, 0.4);
              }
              &:last-child {
                div {
                  border-right: none;
                }
              }
            }
            &.active {
              background-color: #D5EAE4;
              td {
                &:first-child {
                  border-left: 4px solid #003057;
                }
              }
              .community-export-manager-archive__table__tbody__item__triangle {
                position: absolute;
                right: -15px;
                top: 0;
                height: 100%;
                z-index: 10;
              }
            }
          }
        }
      }
    }
    .community-export-manager-archive__user {
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
      border: 8px solid #d5eae4;
      position: relative;
      z-index: 11;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      min-height: 650px;
      .community-export-manager-archive__user__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 55px 35px 35px;
        width: 100%;
        .community-export-manager-archive__user__info__avatar {
          background-color: #d5eae4;
          border-radius: 50%;
          width: 92px;
          height: 92px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 38px;
          }
        }
        .community-export-manager-archive__user__info__name {
          text-align: center;
          font-family: 'Open Sans Light';
          font-size: 14px;
          color: #505759;
          margin-top: 9px;
        }
      }
      .community-export-manager-archive__user__file {
        button {
          background-color: #003057;
          color: white;
          padding: 13px 24px;
          border: none;
          border-radius: 3px;
          font-size: 14px;
          font-family: 'Open Sans Semibold';
          cursor: pointer;
          margin-bottom: 11px;
        }
        div {
          text-align: center;
          font-family: 'Open Sans Light';
          font-size: 15px;
          color: #4a4a4a;
          span {
            color: #59adff;
          }
        }
      }
      .community-export-manager-archive__user__info__container {
        width: 100%;
        flex: 1;
        padding: 0 10px 10px 10px;
        .community-export-manager-archive__user__info {
          background-color: rgba(216, 216, 216, 0.33);
          height: 100%;
          width: 100%;
          padding: 8px 30px 8px 24px;
          .community-export-manager-archive__user__info__title {
            font-family: 'Open Sans Bold';
            font-size: 18px;
            color: black;
          }
          .community-export-manager-archive__user__info__description {
            font-family: 'Open Sans Semibold';
            font-size: 16px;
            color: #4A4A4A;
          }
        }
      }
    }
  }
}


