.development-container {
  background-image: linear-gradient(90deg, yellow 50%, black 50%, black);
  background-position-y: no-repeat;
  background-size: 55px 15px;
}


// section start for Activity Renderer

$grey-lighter: #f1f1f1;
$brand-color1: #007FA3;
$brand-color3: #FFFFFF;

.activity-modal-content {

}

// section end for Activity Renderer