/**
 * Community card view
 */
 $breakpoint-offset: 0;

 .finance-card-view {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;    

    @media (min-width: 300px) {
      max-width: 300px
    }    

    @media (min-width: 600px) {
      max-width: 600px
    }   

    @media (min-width: 900px) {
      max-width: 900px
    }

    @media (min-width: 1200px) {
      max-width: 1200px
    }

    @media (min-width: 1500px) {
      max-width: 1500px
    }

    .finance-card-item {
      $padding: 14px;
      width: 270px;
      min-width: 270px;
      max-width: 270px;
      margin: 0 15px 15px 15px;
      color: $black;
      font-size: 14px;

      hr {
        margin: 15px 0;
      }

      .role-view {
        border-radius: 100px;
        padding: 5px 15px;
        width: auto;
        color: white;        
        background-color: $primary;
        font-size: 12px;
      }

      button {
        min-width: 110px;
      }

      .dob {
        font-size: $font-size-base;
        color: $blue;
      }

      .title {
        font-family: $family-secondary;
        font-size: $font-size-base-biggest;
        color: $blue;
      }

      .registration-id, .course {
        font-size: $font-size-base;
        color: $grey-dark;
        min-height: 30px;
        line-height: 1;
      }

      .hover-capture {
        perspective: 1000px;
        height: 100%;
        box-shadow: $box-shadow;
        border-radius: $cards-border-radius;

        .ui-component-flipper-container {      
          .toggle {
            top: 10px;
            right: 5px;
            padding-top: 0;
            line-height: 1.1;
            font-size: 10px;
            svg {
              width: 10px;
              height: 10px;
            }
          }

          &.flipped {
            .toggle {
              color: $color-text-primary;

              svg {            
                .flip-g {
                  fill: $color-text-primary;
                }
              }
            }
          } 
        }

        .is-secondary {
          background-color: rgba(186, 215, 57, 1.0);
          color: white;
        }

        .front, .back {
          border-radius: $cards-border-radius;
        }

        .front-view {
          > .inner {
            position: relative;
            padding-bottom: 35px;
            .user-role {
              padding-top: 10px;
              position: absolute;
              width: 100%;
              z-index: 1;
              
            }
            .no-image {
              position: absolute;
              top: 0;
              left: 0;          
              width: 100%;
              height: 337px;
              padding-top: 70px;
              background-color: rgba(213, 234, 228, 1.0);
              text-align: center;

              .icon-profile-no-img {
                fill: $primary;
              }
              &.is-third {
                background-color: rgba(213, 234, 228, 1.0);
              }
            }
            .cover-photo {
              height: 337px;
              background-repeat: no-repeat;
              background-position: center center;
              position: relative;
              
              // background-image: url('../images/icon_male_profile.svg');

              &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                content: '';
              }
              &.photo-exists {
                background-size: cover;
                background-position: center center;
              }
              &.photo-exists:after {
                background-image: linear-gradient(to bottom, rgba($grey-light, 0.0), $primary);
              }
            } // ===== cover-photo =====
            .description {
              position: absolute;
              background: $white;
              bottom: 0;
              padding: $padding;
              padding-top: 50px;
              padding-bottom: 0px;
              width: 100%;
              color: $primary;

              .status:before {
                background: greenyellow;
              }

              .user-badge {
                top: 0;
                left: $padding/2;
                transform: translateY(-50%);                
                position: absolute;
                padding: 3px;
                background-color: white;
                border: 3px solid white;
                border-radius:100px;
                

                .no-photo {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  width: 36px;
                  height: 36px;

                  svg {
                    width: 36px;
                    height: 36px;
                  }
                }
              } // user-badge

              .status {
                position: absolute;
                top: 0;
                right: 0;
                padding: 20px 10px;
                line-height: 10px;
                font-size: 12px;
                color: $grey;

                &:before {
                  content: '';
                  width: 8px;
                  height: 8px;
                  border-radius: 100px;
                  margin-right: 7.5px;
                  background: $danger;
                  display: inline-block;
                  vertical-align: middle;
                  position: relative;
                  top: -1px;
                }

                &.online {
                  &:before {
                    background: $success;
                  }
                }
              } // status

              .title {
                font-family: $family-primary-Semibold;
                font-size: 25px;
                color: $black;
                margin: 0;
              }

              .sub-title {
                font-family: $family-primary-Semibold;
                font-size: 12px;
                color: $grey;
                margin: 0 0 5px;
              }

              .group-title {
                font-size: 25px;
                font-family: $family-primary-Semibold;
                color: $black;
              }

              .sub-title-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
              }
              .learner-count {
                font-family: $family-primary-Semibold;
                font-size: 13px;
                color: $grey-dark;
              }
            }// ===== description =====
          }

          .description-footer {
            padding: $padding;
            padding-top: 0;
            background: $white;
            .small-print {
              font-size: 12px;
            }
          } // ===== description-footer =====      
        } // ===== front =====

        .back-view {      
          height: 100%;
          padding: 8px;
          line-height: 1.1;

          .screen-name {
            width: 100%;
            font-family: $family-primary-Semibold;
            font-size: 25px;
            text-align: center;
            color: $black;
            padding-top: 25px;        
          }
          .join-date {
            font-family: "Open Sans Light Italic";
            text-align: center;
            font-size: 10px;
            margin-bottom: 6px;
          }
          
          .is-secondary {
            background-color: rgba(186, 215, 57, 1.0);
            color: white;
          }
          .user-name {
            width: 100%;
            font-family: $family-primary-Semibold;
            font-size: 25px;
            text-align: center;
            color: $black;
            padding-top: 20px;        
          }
          .sub-title {
            font-family: "Open Sans";
            font-size: 14px;
            color: black;
          }
          .sub-content {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .sub-text {
            font-family: "Open Sans";
            font-size: 12px;
            color: $grey-dark;
          }
          // Group card
          .tutor-info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          .tutor-name {
            width: 100%;
            font-family: $family-secondary;
            font-size: 21px;
            text-align: center;
            color: $color-text-primary;       
          }
          // Tutor card
          .view-centre {
            font-family: "Open Sans";
            font-size: 14px;
            color: rgba(0, 0, 255, 0.8);
            span {
              cursor: pointer;
            }
          }

          .photo-view {
            padding: 30px 0 5px 0;
            color: $color-text-primary;
            font-size: 10px;
            .photo-view-controls {
              margin-bottom: 8px;
            }
            .photos {
              display: flex;
              min-height: 85px;          
              align-items: center;
              justify-content: center;

              .main-photo {
                width: 130px;
                height: 86px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;            
              }
              .secondary-photo {
                width: 65px;
                height: 42px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;            
                margin-left: 2px;

                &:nth-of-type(1) {
                  margin-bottom: 2px;
                }
              }
            }        
          }     

          .achievement {
            padding: 5px 0;
            background-color: lighten($grey-lighter, 10%);
            font-size: 10px;
            color: $color-text-primary;

            .achievement-content {
              display: flex;
              min-height: 50px;
              align-items: center;
              padding: 5px 10px;

              .badge {
                min-width: 40px;
                width: 40px;
                height: 40px;            
                margin-right: 10px;
                background-size: contain;
                background-repeat: no-repeat;
              }

              .content {
                font-size: 12px;
                width: calc(100% - 50px);
                padding-top: 2px;
                line-height: 1.3;
                color: $black;

                .achievement-content-title {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;              
                }
              }

            }
          }
        }
      } // ===== hover-capture =====

      .is-grouped .control {
        width: 50%;
      }
      .control button,
      .actions > button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        &.is-medium {
          font-size: 14px;
          height: 30px;
          padding-left: 5px;
          padding-right: 5px;
          line-height: 20px;
        }
      }
      .actions {
        .inner {
          color: $black;
          font-size: 14px;
          padding-bottom: 15px;
        }
        // border-bottom: 2px solid $color-border-default;
        transition: max-height ease-out $speed-faster, opacity linear .1s;
        max-height: 0;
        opacity: 0;
        overflow: hidden;        
        
        .send-group-message {
          width: 100%;
        }
        .assess-workbooks-button {
          width: 100%;
        }
        .footer-buttons {
          display: flex;
          justify-content: space-between;
        }
        .controls {
          width: 100%;
          justify-content: center;
          display: flex;
        }
        .control-icon {
          .icon-remove {
            fill: #007AFF;
          }
        }
      }
      .progress-number {
        position: relative;
        top: 10px;
        left: 12px;
      }
      .is-desktop & {
        .hover-capture:hover {
          .actions {
            opacity: 1;
            max-height: 150px;
            transition: max-height ease-out $speed-faster, opacity linear $speed-faster .3s;
          }

          .user-badge {
            display: none;
          }

          .front .user-type {
            transform: translateX(-40px);
          }

          .flip-toggle {
            pointer-events: all;
            opacity: 1;
          }
        }
      }

      .is-mobile & {
        .hover-capture.touched {
          .actions {
            max-height: 150px;
            opacity: 1;
            transition: max-height ease-out $speed-faster, opacity linear $speed-faster .3s;
          }
          .front .user-type {
            transform: translateX(-40px);
          }
          .flip-toggle {
            pointer-events: all;
            opacity: 1;
          }
        }
      }
    }
}


.switch[type=checkbox] {
  outline: 0;
  user-select: none;
  display: inline-block;
  position: absolute;
  opacity: 0;
}
.switch[type=checkbox]+label {
  position: relative;
  display: initial;
  font-size: 1rem;
  line-height: initial;
  padding-left: 3.5rem;
  cursor: pointer;
}

.switch[type=checkbox].is-rounded+label::before,
.switch[type=checkbox].is-rounded+label:before {
  border-radius: 24px;
}

.switch[type=checkbox]:checked+label::before,
.switch[type=checkbox]:checked+label:before {
  background: #00d1b2;
}

.switch[type=checkbox]+label::before,
.switch[type=checkbox]+label:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 1.5rem;
  border: .1rem solid transparent;
  border-radius: 4px;
  background: $red;
  content: "";
}

.switch[type=checkbox]+label::after,
.switch[type=checkbox]+label:after {
  display: block;
  position: absolute;
  top: .25rem;
  left: .25rem;
  width: 1rem;
  height: 1rem;
  transform: translate3d(0, 0, 0);
  border-radius: 4px;
  background: #fff;
  transition: all .25s ease-out;
  content: "";
}

.switch[type=checkbox].is-rounded+label::after,
.switch[type=checkbox].is-rounded+label:after {
  border-radius: 50%;
}

.switch[type=checkbox]:checked+label::after {
  left: 1.625rem;
}