.chat-search {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background-color: $white;
  flex: none;

  .search-bar-container {
    border: 1px solid $grey-lighter;
    border-radius: 5px;
    flex: 1;

    p.search {
      padding-left: 42px;
      background-position-x: 10px;
    }

    input {
      padding-left: 0;
      outline: none;
      box-shadow: none;
    }
  }
}