.chat-participants {
  background-color: $color-background-default;
  width: $sidebar-width;
  height: 100%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 18px;
    padding: 20px 16px 10px;
    flex: none;
  }

  .close {
    background: none;
    position: absolute;
    top: 20px;
    right: 28px;
    cursor: pointer;
  }

  ul {
    flex: 1;
    overflow: auto;

    li:last-child {
      padding: 10px 20px;
      text-align: right;
      border-bottom: 1px solid $color-border-default;
    }
  }
}