.gallery-info {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 22px;

  &.fixed {
    position: fixed;
  }
}
.gallery-info-button {
  position: absolute;
  right: -4px;
  top: -4px;
  cursor: pointer;
}

.gallery-details-view {
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  overflow-y: auto;  
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  // overflow: hidden; 

  .gallery-info-button {
    right: 2px;
  }

  .evidence-detail-units {
    .Collapsible__trigger {
    }

    .Collapsible__contentInner {
      padding: 0;      
    }

    .evidence-detail-unit {
      display: flex;
      color: #007FA3;
      width: 100%;

      .unit-number {
        min-width: 80px;
      }
      .unit-title {

      }
      .unit-completed {
        margin-left: auto;
        min-width: 130px;
        width: 130px;
        padding: 0 0.25em;
      }
    }

    .evidence-detail-outcomes-table {
      background: $color-background-default;
      width: 100%;

      thead {
        background: $color-background-default;
        th {
          color: #003057;
          padding: 0.25em 0.75em;
          border-width: 0 0 1px;

          &.outcome-no {
            padding: 0.25em 0.25em;
            max-width: 30px;
            min-width: 30px;
            width: 30px;
          }
          &.outcome-title {
            width: 30%;
          }
          &.outcome-elements {
            padding: 0.25em 0.25em;
            max-width: 75px;
            min-width: 75px;
            width: 75px;
          }
          &.outcome-criteria {

          }
          &.evidence-no {
            padding: 0.25em 0.25em;
            max-width: 130px;
            min-width: 130px;
            width: 130px;
          }
        }
      }

      tbody {
        tr {
          border-top: none;
          border-bottom: 1px solid $border;

          td {
            padding: 1.5em 0;
            background: white;

            table.evidence-detail-criteria-table {
              width: 100%;
              
              tr {
                border-bottom: none;

                td {
                  color: $color-text-primary;
                  padding: 0.25em 0.75em;
                  border-width: 0;

                  &.outcome-no {
                    padding: 0.25em 0.25em;
                    max-width: 30px;
                    min-width: 30px;
                    width: 30px;
                    text-align: center;
                  }
                  &.outcome-title {
                    width: 30%;
                  }
                  &.outcome-elements {
                    padding: 0.25em 0.25em;
                    max-width: 75px;
                    min-width: 75px;
                    width: 75px;
                    text-align: center;
                    color: #007FA3;
                  }
                  &.outcome-criteria {
                    .Collapsible {
                      height: auto;
                      border-bottom: none;

                      .Collapsible__trigger {
                        padding-right: 30px;
                        padding-left: 0;
                        height: auto;

                        &::after {
                          display: none;
                          top: 10px;
                          left: auto;
                          right: 10px;
                          transform: rotate(-135deg);
                        }

                        &.is-open::after {
                          transform: rotateZ(-45deg);
                        }
                      }

                      &.has-guidance {
                        .Collapsible__trigger {

                          &::after {
                            display: block;
                          }
                        }
                      }
                    }

                    .has-guidance {
                      .Collapsible {

                        .Collapsible__trigger {

                          &::after {
                            display: block;                            
                          }                         
                        }                        
                      }
                    }
                  }
                  &.evidence-no {
                    padding: 0.25em 0.25em;
                    max-width: 130px;
                    min-width: 130px;
                    width: 130px;
                    color: #007FA3;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .media-slider {
    width: 95%;
    min-height: 150px;
    margin: auto;
    position: relative;

    .slick-dots {
      top: -35px;
    }
    .slick-arrow {
      z-index: 99;
      width: 40px;
      height: 40px;
      opacity: .8;
      border-radius: 100%;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);

      &:hover {
        opacity: 1;
      }
      &::before { 
        font-size: 30px;
        color: $primary;
        line-height: 0;
        opacity: 1;
      }

      &.slick-prev {
        margin-left: -20px;
        &::before {
          content: '\2039';
        }
      }
      &.slick-next {
        margin-right: -20px;
        &::before {
          content: '\203A';
        }
      }
    }
  }

  .gallery-images {
    display: flex;
    flex-wrap: wrap;

    .gallery-image {
      width: 16.666667%;      
      cursor: pointer;
      padding: 2px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .evidence-detail {
    position: relative;
    font-size: $font-size-base-big;
    animation: leftToRight 1s;
    color: $black;
    padding: 15px 15px 0 15px;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    
    .evidence-detail-content {
      position: relative;

      .evidence-title {
        font-family: $family-primary-Semibold;
        font-size: 24px;
        color: #003257;
      }

      .evidence-detail-tab-container {
        position: relative;

        .evidence-detail-tabs {
          margin: 1rem 0;

          .evidence-detail-tab {
            text-decoration: none;
            border: 1px solid;
            border-color: #dee2e6 #dee2e6 #fff;
            padding: 1rem 1rem;

            &.active {
              color: $white;
              background: #003157;
            }
          }
        }

        .evidence-detail-tab-content{
          padding: 1rem;
          min-height: 300px;
          border: 1px solid #dee2e6;

          &.map-to-criteria {
            padding: 0;

            .input {
              border-radius: 5px;
            }

            .pagination-container {
              padding-top: 0;
              padding-bottom: 0;
            }
          }
          
          .edit-button {
            color: #007FA3;
            cursor: pointer;
          }

          .added-content {
            display: flex;
            color: #007FA3;
            margin-left: auto;
          }

          .comments-edit {
            position: relative;
            height: 240px;

            .textarea {
              height: 100%;
            }
          }

          &.map-to-criteria {
            
            .unit-title {
              color: #003257;
            }

            .criteria-item {
              .criteria-number {
                color: #003257;
                min-width: 120px;
              }
            }

            .evidence-detail-tags {
              color: #003257;
            }
          }
        }
      }

      .signature {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dee2e6;

        .member-name {
          width: 200px;
          overflow: hidden;
          word-wrap: none;          
        }
        .sign {
          display: flex;
          align-items: center;
        }
      }

      .evidence-rating {
        margin-left: auto;
        color: #003257;

        .evidence-rating-buttons {
          display: inline-flex;
          border-top: 1px solid #003257;
          border-bottom: 1px solid #003257;
          border-left: 1px solid #003257;

          .evidence-rating-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 122px;
            padding: 5px 0;         
            border-right: 1px solid #003257;
            font-size: 14px;            
            cursor: pointer;

            i {
              font-size: 22px;
              margin-top: -2px;
            }

            &:nth-last-of-type() {
              border-right: none;
            }
            &.active {
              color: $white;
              background: #2CB673;
            }
          }
        }
      }

      .mapped-criteria {
        padding: 15px;
        background: $color-background-default;
        color: #003257;

        .content-title {
          font-size: 18px;
          border-bottom: 1px solid $border;
        }

        .criterias {
          color: $color-text-primary;
        }
      }
    }
  }
}

.learner-comment {
  color: #003257;
  max-width: 280px;
  width: 280px;
  margin-top: 30px;
  padding: 0 15px;

  label.custom.checkbox {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}

.evidence-tag {
  background: #003257;
  color: white;
  border-radius: 50px;
  padding: 0 8px;
  margin: 0 2px;
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

.border-top {
  border-top: 1px solid $border;
}

.background-default {
  background: $color-background-default;
}

.no-content {
  color: $color-text-primary;
  font-size: 22px;
}

@keyframes leftToRight {
  from {width: 0; opacity: 0;}
  to {width: 100%; opacity: 1;}
}

@keyframes bottom0To85 {
  from {bottom: 0;}
  to {bottom: 85px;}
}

.text-emphasis {
  font-size: $font-size-base-big;
  color: $color-text-primary,
}

