.test-sector-result {
    background: $white;
    margin: 10px;
    position: relative;
    cursor: pointer;
    width: 600px;

    .summary {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        
        .info {
            flex: 1;
        }
    }

    h3 {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .fa {
        font-size: 18px;
    }

    .total {
        color: $primary;
    }

    .questions {
        border-top: 2px solid rgba(226,226,226,.7);
        padding: 0 20px;
    }

    .question {
        display: flex;
        align-items: center;
    }

    .text {
        flex: 1;
        display: flex;
        padding: 20px 10px;
        align-items: flex-start;
    }

    .answer {
        border-top: 1px solid rgba(226,226,226,.6);
        padding: 20px;
    }

    .ibtn {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}